body {
    background: #404040;
    color: white;
    font-family: 'Century Gothic';
    text-align: center;
}
input[type=submit] {
    background-color: #232323;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}
.flash {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
}
.flash.correct {
    border: 1px solid #21DB56;
    background: #AEFFC5;
}
.flash.incorrect {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}
